<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Arma3_Fov_Changer_2025.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Arma3_Fov_Changer_2025.Properties.Settings>
            <setting name="savedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="savedScreen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="savedFov" serializeAs="String">
                <value>0</value>
            </setting>
        </Arma3_Fov_Changer_2025.Properties.Settings>
    </userSettings>
</configuration>